{
  "notice": "This file is maintained by MPaaS automatically.",
  "project": "MPShareDemo_plugin",
  "copy": true,
  "targets": {
    "MPShareDemo_plugin": {
      "author": "vivi.yw",
      "time": "2020/07/20 11:19:35",
      "versions": {
        "mPaaS_LocalLog": {
          "APLog": "3.0.2.200619152113"
        },
        "mPaaS_DataCenter": {
          "MPDataCenter": "1.0.0.200302154544",
          "mPaas": "1.0.0.200702162413",
          "APLog": "3.0.2.200619152113"
        },
        "mPaaS_CommonUI": {
          "APCommonUI": "1.0.0.200228104248",
          "AntUI": "1.0.0.200406140322",
          "Masonry": "1.0.0.200406133247",
          "MBProgressHUD": "1.0.0.200406133247",
          "AntUIShellForMpass": "1.0.0.200421105830"
        },
        "mPaaS_BadgeService": {
          "MPBadgeService": "1.0.0.200228135004",
          "MPDataCenter": "1.0.0.200302154544",
          "mPaas": "1.0.0.200702162413",
          "APLog": "3.0.2.200619152113"
        },
        "MPBaseTest": {
          "MPBaseTest": "1.0.0.200228122047",
          "APLog": "3.0.2.200619152113"
        },
        "mPaaS_Share": {
          "MPShareKit": "1.0.0.200715154217",
          "APRemoteLogging": "1.0.0.200716144718",
          "mPaas": "1.0.0.200702162413",
          "APLog": "3.0.2.200619152113",
          "UTDID": "1.0.2.190226130141",
          "APProtocolBuffers": "1.0.1.200228175209"
        }
      },
      "baseline": "10.1.68",
      "pversion": "25",
      "custom": false,
      "frameworks": [
        "APLog.framework",
        "MPDataCenter.framework",
        "mPaas.framework",
        "APCommonUI.framework",
        "AntUI.framework",
        "Masonry.framework",
        "MBProgressHUD.framework",
        "AntUIShellForMpass.framework",
        "MPBadgeService.framework",
        "MPBaseTest.framework",
        "MPShareKit.framework",
        "APRemoteLogging.framework",
        "UTDID.framework",
        "APProtocolBuffers.framework"
      ],
      "resources": [
        "APCommonUI.bundle",
        "MPBadgeService.bundle",
        "WeiboSDK.bundle",
        "MPShareKit.bundle",
        "APRemoteLogging.bundle"
      ],
      "options": {
      }
    }
  },
  "recent": "MPShareDemo_plugin"
}